.SplashDiv {
   background-color: rgb(242, 247, 248);
   border-top: 1px solid rgb(193, 206, 209);
   border-bottom: 1px solid rgb(193, 206, 209);
   padding: 20px 0px 40px 0px;
}

.SplashDiv > img {
   height: 150px;
   width: 150px;
   border: 3px solid rgb(193, 206, 209);
   border-radius: 50%;
}

.SplashDiv em {
   color: rgb(121, 194, 209)
}

