.MainDiv {
   text-align: center;
}

.MainDiv .LowerMain {
   margin-top: 30px;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: center;

}

.SplashTop {
   font-size: 28pt;
   margin-right: 250px;
   line-height: 1;
}

.SplashBot {
   font-size: 28pt;
   margin-left: 200px;
   line-height: 1;
}